node_modules
dist
dist-ssr
coverage
*.local

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.corepack
.pnpm-store/
